<!-- This file is managed by Tracepaper -->
<template x-component="domain-overview">
    <div class="row gx-5">
            <div class="col-3">
                <h4>Commands</h4>
                <center>
                    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                        
                        <button type="button" class="btn btn-outline-primary"
                                @click="Draftsman.empty_track_and_trace_log();component = 'CreateFeedback'"
                                x-show="'createfeedback'.includes(search.toLowerCase())">
                            CreateFeedback
                        </button>
                        
                    </div>
                </center>
            </div>
            <div class="col-6">
                
                <div x-show="component == 'CreateFeedback'" x-cloak x-transition>
                    <div x-import="commands/CreateFeedback">
                        <h6>CreateFeedback</h6>
                        <ui-CreateFeedback></ui-CreateFeedback>
                    </div>
                </div>

                

                
                <div x-show="component == 'Feedback/get'" x-cloak x-transition>
                    <div x-import="views/Feedback/get">
                        <h6>Feedback.get</h6>
                        <ui-Feedback-get></ui-Feedback-get>
                    </div>
                </div>

                
                <div x-show="component == 'Feedback/filter'" x-cloak x-transition>
                    <div x-import="views/Feedback/filter">
                        <h6>Feedback.filter</h6>
                        <ui-Feedback-filter></ui-Feedback-filter>
                    </div>
                </div>

                

            </div>
            <div class="col-3">
                <h4>Queries</h4>
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    
                    <button type="button" class="btn btn-outline-primary"
                            x-show="'feedback.get'.includes(search.toLowerCase())"
                            @click="component = 'Feedback/get'">Feedback.get
                    </button>
                    
                    <button type="button" class="btn btn-outline-primary"
                            x-show="'feedback.filter'.includes(search.toLowerCase())"
                            @click="component = 'Feedback/filter'">Feedback.filter
                    </button>
                    
                </div>
            </div>
        </div>
</template>